h1 {
  text-align: center;
  color: white;
  font-size: 45px;
  margin-bottom: 0;
}
body {
    background: url(background.png) repeat-y, 
                #fc0 url(background.png) repeat-y 100% 0;
   }

.main {
	color: white;
	font-size: 28px;
}
.com{
	color: white;
	font-size: 28px;
}
.widget  {
  margin: 0;
  width: 100%;
  padding: 0;
  list-style: none;

}

.widget a {
  text-decoration: none;
  color:  #fbff00;
  font-size: 26px;
  
}
.widget a:before {
  font-family: FontAwesome;
  font-size: 26px;
  vertical-align:bottom;
  color: #f36363; 
  margin-left: 100px;
}
.widget a:nth-child(1):before {content:"\f1fc";}
.widget a:nth-child(2):before {content:"\f0d0";}
.widget a:nth-child(3):before {content:"\f0cd";}
.widget a:nth-child(4):before {content:"\f028";}
.widget a:nth-child(5):before {content:"\f03d";}
span {
	  width: 100%;
}